global
    maxconn 8192
    quiet

defaults
    mode tcp
    timeout connect 50ms
    timeout client 2s
    timeout server 2s

frontend rinha
    bind *:9999
    default_backend apis

backend apis
    balance roundrobin
    server api1 api-1:8080 maxconn 4096
    server api2 api-2:8080 maxconn 4096
